
/* The side navigation menu */
.sidenav {
 height: 100%; /* 100% Full-height */
 width: 0px; /* 0 width - change this with JavaScript */
 position: fixed; /* Stay in place */
 z-index: 1; /* Stay on top */
 top: 0;
 left: 0;
 padding-top: 0px;
 /*background-color: #585858;  Black*/
 overflow-x: hidden; /* Disable horizontal scroll */
 transition: 5s; /* 0.5 second transition effect to slide in the sidenav */
}
ul {
  list-style-type: none;
  padding-left: 10px;
}

/* The navigation menu links */
.linklabel {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  padding: 20px 8px 20px 10px;
  font-family: 'Avenir';
  font-weight: 200;
  text-decoration: none;
  font-size: 20px;
  height: 90px;
  text-align: center;
  /*color: grey;*/
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.linklabel:hover {
 color: #FE4A49!important;
 text-shadow: 3px 0px 0px black;
 font-weight: 800;
 padding-left: 20px;
 border-left-style: solid;
 border-left-width: thick;
}

/* Position and style the close button (top right corner)
.sidenav .closebtn {
 position: absolute;
 top: 0;
 right: 25px;
 margin-left: 50px;
}*/

/*.submenu a {
  padding: 10px 8px 10px 5px;
  font-family: 'Avenir';
  font-weight: 200;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  transition: 0.3s;

}*/

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
 .sidenav {padding-top: 15px;}
 .sidenav a {font-size: 18px;}
}

#menu_link {
  padding: 5px;
  position: absolute;
  left: 10px;
  top: 10px;
  font-family: 'Avenir';
  font-weight: 700;
  font-size: 20px;
  /*border: 10px solid black;*/
  writing-mode: vertical-rl;
  text-orientation: upright;
  cursor: pointer;
  transition: 0.5s all;
}
#menu_link_shadow {
  opacity: 0;
  padding: 5px;
  position: absolute;
  left: 12px;
  top: 12px;
  font-family: 'Avenir';
  font-weight: 700;
  font-size: 20px;
  color: red;
  /*border: 10px solid black;*/
  writing-mode: vertical-rl;
  text-orientation: upright;
  cursor: pointer;
}

#main {
  width: 100%;
  height: 100%;
}

section .detail {
  position: absolute;
  display: flex;
  width: 100vw;
  margin-top: 100vh; /*Put div below main viewport*/
  /*margin-left: 100px;*/
  height: 100vh;
  flex-direction: column;
  display: block;
  /*-webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;*/
  transition: all 0.2s ease;
  /*transition-delay: 3s;*/
}
section .detail-active {
  transform: translateY(-100vh);
  transition: all 1s;
}
/*
section h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}*/
html, body {
    /*border: 10px solid black;*/
    /*position: fixed;*/
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    margin: 0;
    padding: 0;
    background-color: #BBD1EA; /*Initial backgroundColor*/
}
#sidebar_wave {
  position: absolute;
  transform: rotate(90deg);
  height: 100%;
  width: 100%;
}

h1 {
  text-align: center;
  align-items: center;
  padding: 5px;
  margin-top: 0;
  margin-bottom: 10px;
  font-family: 'Avenir';
  font-weight: 700;
  font-size: 50px;
  transition: 0.5s all;
}
p {
  font-family: 'Avenir';
  padding: 5px;
  font-weight: 300;
  font-size: 17px;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
}
.slider {
  scroll-snap-type: x mandatory;
  position: relative;
  margin: 0 auto;
  width: 70vw;
  height: 500px;
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.slide {
  width: 70vw;
  flex-shrink: 0;
  height: 100%;
  display:flex;
  align-items:center;
  scroll-snap-align: start;
  justify-content:center;
}
.slide_img {
  max-width:100%;
  max-height:100%;
  min-width: 30%;
  min-height: 30%;
}
#sns {
  width: 300px;
  height: 100px;
  bottom: 100px;
}
canvas {
  width: 100vw;
  position: fixed;
  /*z-index: 100;*/
  /*position: absolute;*/
}
#projectWrapper {
  margin-left: 80px;
  margin-right: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.projectDiv {
  text-align: center;
  border-radius: 5px;
  flex: 1 1 300px;
  opacity: 0.5;
  /*width: 100px;*/
  /*min-width: 300px;*/
  height: 280px;
  margin: 10px;
  background-color: gray;
  /*transition: all 1s ease 10s;*/
}
.projectDiv:hover {
  opacity: 1;
  transition: all 0.5s;
}
